<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% if cart %}
      <tbody>
        {% for item in cart %}
          <tr>
            <td class="product-remove text-left">
              <form action="{% url 'cart:cart_remove' item.product_obj.id %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <a href="#" onclick="this.closest('form').submit(); return false;"><i class="flaticon flaticon-cross">حذف محصول {{ item.product_obj.title }}</i></a>
              </form>
            </td>
            <td class="product-thumbnail text-left">
              <img src="{{ item.product_obj.cover.url }}" alt="" />
            </td>
            <td class="product-name wide-column">
              <h3><a href="{{ item.product_obj.get_absolute_url }}">{{ item.product_obj.title }}</a></h3>
            </td>

            <td class="product-quantity">
              <form method="post" action="{% url 'cart:cart_add' item.product_obj.id %}">
                {% csrf_token %}
                <div class="quantity">
                  <input type="number" class="quantity-input" name="quantity" id="qty-1" value="{{ item.quantity }}" min="1" max="5" />
                  {{ item.product_update_quantity_form.inplace }}
                  <button class="btn-small" type="submit">update</button>
                </div>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    {% else %}
      <p>کارت خالی میباشد</p>
    {% endif %}
  </body>
</html>
