<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'home' %}">خانه</a><br>

    {% for product in products %}
      <a href="{{ product.get_absolute_url }}">{{ product.title }}</a><br />
      {{ product.short_description }}<br />
      {{ product.price }}<br />
      <p>____________________</p><br />
    {% endfor %}
  </body>
</html>
