<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'home' %}">خانه</a>

    <h1>{{ product.title }}</h1>
    {% for image in product.images.all %}
      <img src="{{ image.image.url }}" alt="{{ product.title }}" width="100px" height="100px"/>
    {% endfor %}
    <p>{{ product.short_description }}</p>
    <p>{{ product.full_description }}</p>
    <h4>{{ product.price }}</h4>
    <h5>{{ product.datetime_modified }}</h5>
    <p>___________________________________</p>

    <h1>comments</h1>
    {% for comment in product.comments.all %}
      {% if comment.active %}
        <p>----------------------------------</p>
        <h5>{{ comment.author }}</h5>
        <h6>{{ comment.stars }}</h6>
        <p>{{ comment.text }}</p>
        <h6>{{ comment.datetime_modified }}</h6>
      {% endif %}
    {% endfor %}
    <p>___________________________________</p>
    <h1>comment form</h1>
    <form action="{% url 'comment_create' product.id %}" method="post">
      {% csrf_token %}
      {{ comment_form }}
      <button type="submit">ارسال</button>
    </form>
  </body>
</html>
